<!--**********NAVBAR***********-->
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-red navbar-dark">
  <div class="wrapper">
    
  </div>
<div class="container-fluid all-show">
<a class="navbar-brand" href="#">
  <img src="assets/images/logo2.png" alt="Logo" class="navbar-logo">  </a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto mb-2 mb-lg-0">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Mannschaften</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#">Spielbetrieb</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#">Verein</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#">Kontakt</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#"><i class="fa fa-search"></i></a>
  </li>
  
  
</ul>
<div class="d-flex flex-column sim">

  <span>FC MAROC MÜNCHEN</span>
  
</div>
</div>
</div>
</nav>
<!--**********END NAVBAR***********-->


<!--**********TEXT OF BACKGROUND IMAGE 1 ***********-->
<div id="background-section">
  <div class="background-text">
    <h1>FC-MAROC MÜNCHEN</h1>
    <pre class="background-text-pre">
      GEMEINSAM
      FÜR DEN SIEG
      </pre>
  </div>
</div>  

<!--**********for RESULTS API***********-->
<div id="game-results"></div>

<!--**********HOME'S WHITE SECTION, IMAGES AND THEIR TEXTS***********-->
<section class="white-section">
  <div class="content">
    <div class="image-block bigermargin">
      <img src="assets/images/image4.jpg" alt="Description of image" class="image-team">
    <div>
      <h2 class="image-title">Eine Kurzübersicht</h2>
      <p class="description-image-team">Der FC Maroc München wurde im Jahr 2009 gegründet, unser Spielplatz befindet sich in der Bezirkssportsanlage Bauernfeind Str. 19, 80939 München. Dort trainiert die Herrenmannschaft mittwochs ab 18:30 Uhr und die E-Junioren-Mannschaft (U11) Mittwochs und Freitags um 16:30 Uhr.
        Für den Spiel- und Trainingsbetrieb stehen zwei gepflegte Rasenplätze, ein Kleinfeld-Rasenplatz sowie ein Tennenplatz zur Verfügung.</p>
    </div>
    </div>
    <div class="image-block reversed">
      <img src="assets/images/image4.jpg" alt="Description of image" class="image-team reverse">
      <div>
      <h2 class="image-title">Fußballmannschaften und Jugendarbeit</h2>
      <p class="description-image-team"> Aktuell hat der Verein nur eine Fussballabteilung, die mit einer 1. Herren Fussballmannschaft in der B-Klasse der Liga vom Bayerischen Fussball-Verband vertreten ist.
        Unser Verein hat es sich zum Ziel gesetzt, die sportliche Entwicklung insbesondere von Kindern und Jugendlichen zu fördern. Ein wesentlicher Schritt ist mit der erste E-Junioren Fussballmannschaft U11 bereits in dieser Saison getan.</p>
    </div>
  </div>
  </div>
</section>

<!--**********FOOTER***********-->
 <!-- footer -->
 <div class="footer">
  <div class="container">
      <div class="row">
          <div class="col-md-4 col-xs-12">
              <div class="first">
                  <h4>SPONSOREN</h4>
                  <div>
                  <img src="assets/images/valyue.png" alt="Valyue Consulting GmbH" class="sponsor1">
                </div>
                <div>
                  <img src="assets/images/banqueppl.png" alt="RIA Envia Financial Services GmbH" class="sponsor2">
                </div>
                <div>
                  <img src="assets/images/ria.png" alt="Banque Populaire du Maroc" class="sponsor3">
                </div>
              </div>
          </div>

          <div class="col-md-4 col-xs-12">
              <div class="second">
                  <h4>&nbsp;&nbsp;&nbsp;MENÜ</h4>
                  <ul>
                      <li><a href="#">HOME</a></li>
                      <li><a href="#">MANNSCHAFTEN</a></li>
                      <li><a href="#">SPIELBETRIEB</a></li>
                      <li><a href="#">VEREIN</a></li>
                  </ul>
              </div>
          </div>

          <div class="col-md-4 col-xs-12">
              <div class="third">
                  <h4>KONTAKT</h4>
                  <ul>


                    <li><i class="far fa-envelope"></i> info@fcmaroc-muenchen.de</li>
                      <li><i class="far fa-envelope"></i> 089-63153948</li>


                    <li><i class="fas fa-map-marker-alt"></i> Bezirkssportanlage,  Bauernfeindstr. 19,  80939,  München </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="line"></div>
              <div class="second2">
                <a href="https://www.instagram.com/your_username/" target="_blank">
                  <i class="fab fa-instagram fa-2x margin"></i>
                </a>
                
                <a href="https://www.facebook.com/your_username/" target="_blank">
                  <i class="fab fa-facebook fa-2x margin"></i>
                </a>
                
                  <a href="https://www.youtube.com/channel/" target="_blank">
                    <i class="fab fa-youtube fa-2x margin" ></i>
                  </a>
                  

              </div>

          </div>
      </div>
      </div>
</div>