<!--**********NAVBAR***********-->
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-red navbar-dark">
  <div class="wrapper">
    
  </div>
<div class="container-fluid all-show">
<a class="navbar-brand" href="#">
  <img src="assets/images/logo2.png" alt="Logo" class="navbar-logo">  </a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto mb-2 mb-lg-0">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="home">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/team">Team</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="/spielbetrieb">Spielbetrieb</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="verein/">Verein</a>
  </li>

  <li class="nav-item">
    <a class="nav-link scroll-link" (click)="scrollToContact()">Kontakt</a>
  </li>  
  
</ul>
<div class="d-flex flex-column sim">

  <span>FC MAROC MÜNCHEN</span>
  
</div>
</div>
</div>
</nav>
<!--**********END NAVBAR***********-->


<router-outlet></router-outlet>


<!--**********FOOTER***********-->
 <!-- footer -->
 <div class="footer" id="footer" #footer>
  <div class="container">
      <div class="row">
          <div class="col-md-4 col-xs-12">
              <div class="first">
                  <h4>SPONSOREN</h4>
                  <div>
                  <img src="assets/images/valyue.png" alt="Valyue Consulting GmbH" class="sponsor1">
                </div>
                <div>
                  <img src="assets/images/banqueppl.png" alt="RIA Envia Financial Services GmbH" class="sponsor2">
                </div>
                <div>
                  <img src="assets/images/ria.png" alt="Banque Populaire du Maroc" class="sponsor3">
                </div>
              </div>
          </div>

          <div class="col-md-4 col-xs-12">
              <div class="second">
                  <h4>&nbsp;&nbsp;&nbsp;MENÜ</h4>
                  <ul>
                    <li><a routerLink="/home" (click)="scrollToTop()">HOME</a></li>
                      <li><a routerLink="/team" (click)="scrollToTop()">TEAM</a></li>
                      <li><a href="#">SPIELBETRIEB</a></li>
                      <li><a href="#">VEREIN</a></li>
                  </ul>
              </div>
          </div>

          <div class="col-md-4 col-xs-12">
              <div class="third">
                  <h4>KONTAKT</h4>
                  <ul>


                    <li><i class="far fa-envelope"></i> info@fcmaroc-muenchen.de</li>
                      <li><i class="far fa-envelope"></i> 089-63153948</li>


                    <li><i class="fas fa-map-marker-alt"></i> Bezirkssportanlage,  Bauernfeindstr. 19,  80939,  München </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="line"></div>
              <div class="second2">
                <a href="https://www.instagram.com" target="_blank">
                  <i class="fab fa-instagram fa-2x margin"></i>
                </a>
                
                <a href="https://www.facebook.com" target="_blank">
                  <i class="fab fa-facebook fa-2x margin"></i>
                </a>
                
                  <a href="https://www.youtube.com" target="_blank">
                    <i class="fab fa-youtube fa-2x margin" ></i>
                  </a>
                  

              </div>

          </div>
      </div>
      </div>
</div>