<section class="white-section">
  <div class="content">
    <div class="image-block bigermargin">
      <div class="row">
        <!-- Display players -->
        <div class="col-md-4" *ngFor="let player of players">
          <div class="card card-has-bg">
            <img class="card-img-top" [src]="player.imageUrl" alt="Player image">
            <div class="card-img-overlay d-flex flex-column">
              <div class="fa_player_name">{{player.vorname}}<br>{{player.name}}</div>
            </div>
            <div class="card-body">
              <p class="card-text">Geburtsdatum: {{player.dateOfBirth}}</p>
              <p class="card-text">Idol: {{player.idol}}</p>
              <p class="card-text">Größe: {{player.height}} cm</p>
            </div>
          </div>
        </div>

        <!-- Display staff -->
        <div class="col-md-4" *ngFor="let staffMember of staff">
          <div class="card card-has-bg">
            <img class="card-img-top" [src]="staffMember.imageUrl" alt="Staff image">
            <div class="card-img-overlay d-flex flex-column">
              <div class="fa_player_name">{{staffMember.vorname}}<br>{{staffMember.name}}</div>
            </div>
            <div class="card-body">
              <p class="card-text">{{staffMember.role}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
