/*BACKGROUND PICTURE 1 HOME PAGE*/
#background-section {
    background-image: url('../../../assets/images/backgroung-homePage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
  }
  
  /*TEXT OF BACKGROUND PICTURE 1*/
  /* For desktop: */
  
.background-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-130%, 70%);
    text-align: center;
  }
  
  /* For mobile: */
  @media only screen and (max-width: 600px) {
    .background-text {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -40%);
      text-align: center;
    }
  }
  
  .background-text h1 {
    font-size: 1em;
    color: white;
    text-align: center;
    
  }
  
  .background-text-pre {
    font-size: 3.6em;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.1;
    text-align: center;
    font-family: 'Arial', sans-serif;
    
  }
  
  /*FOR IMAGES AND TEXTS IN HOME PAGE*/

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  /*CARD 1*/
  .image-block1 {
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 50px;
  }

  /*CARD 2*/
  .image-block2 {
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 10px;
  }
  
  .image-team {
    width: 500px;
    height: 250px;
    margin-right: 20px;
    box-shadow: 0 0 5px grey;
  }
  
  .top-margin{
    margin-top: 10px;
  }
  
  .description-image-team {
    font-size: 21px;
    text-align: justify;
    text-align: center;
    font-family: 'Garamond', sans-serif;
  }
  
  /*REVERSE THE SECOND IMAGE WITH ITS TEXT*/
  .reversed {
    flex-direction: row-reverse;
  }

  .reversed .image-team {
    margin-right: 0;
    margin-left: 20px;
  }
  
  /*MORE BOTTOM MARGIN FOR FIRST IMAGE*/
  .bigermargin{
    margin-bottom: 120px;
  }
  
  .image-title {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
  }